.custom-button {
  // min-width: 165px;
  width: auto;
  // height: 50px;
  letter-spacing: 0.5px;
  // line-height: 50px;
  padding: 3px 5px 3px 5px;
  font-size: var(--smText);
  background-color: var(--ocean-green-00);
  color: var(--text);
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: 2px solid var(--leather-02);
  cursor: pointer;

  &:hover {
    background-color: var(--ocean-green-04);
    color: var(--text);
    border: 2px solid var(--leather-02);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: var(--leather-02);;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
}
