.sign-up {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px dashed var(--leather-02);
  border-radius: 25px;
  background-color: var(--ocean-green-03);
  margin: 0 5px;
  padding: 0 var(--smPadding) 5px;

  .title {
    margin: 10px 0;
    font-size: var(--lgText);
  }

  .subtext {
    font-size: var(--smText);
  }

  .buttons {
    // align-self: flex-end;
  }
}