.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;
  margin-bottom: 25px; /*from video*/
  // border: 2.5px solid brown;
  border-radius: 25px;
  background-image: url('../../assets/icons/woodgrain.svg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;

  .sitetitle {
    h1 {
      font-size: var(--lgHeading);
    }
  }
}