.menu-item {
  display: flex;
  // position: relative;
  // right: 0px;
  width: fit-content;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
  border: 2.5px solid brown;
  border-radius: 100%;
  // background-image: url('../../assets/icons/woodgrain.svg');
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-position: center;
  // background-size: cover;
  margin: 0 7.5px 20px;
  // overflow: hidden;
  &:nth-last-child(-n + 2) {
    justify-self: flex-end;
    // position: relative;
    // left: 0px;
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform .5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 1;
    }
  }

  .background-image {
    width: 4rem;
    height: 4rem;
    
  }

  .menu-item-content {
    height: 90px;
    color: var(--text);
    text-shadow: 1.5px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 0px;
      font-size: var(--mdText);
      position: relative;
      top: 18px;
    }

    .subtitle {
      font-weight: lighter;
      font-size: var(--smText);
    }
  }
}
