.footer {
  width: 100%;
  .footer-content{
    margin: auto;
    padding: 5px;
    border: 1px solid var(--leather-02);
    border-radius: 8px;
    background-color: var(--ocean-green-03);
    width: 50ch;
  }
}