.header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 3.5px solid var(--leather-02);
  border-radius: 100%;
  margin: 0 var(--xsPadding);
  background-color: var(--ocean-green-00);

  &:hover {
    cursor: pointer;
    background-color: var(--ocean-green-04);

    & .logo {
      transform: scale(1.1);
      transition: transform .5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }


  .logo {
    width: 2.5em;
    height: 2.5em;
  }

  .label-container {
    display: flex;
    text-shadow: 1.5px 2px var(--stratospheric-blue-04);
    height: fit-content;
    width: fit-content;
    padding: 2px;
    margin-top: 3px;
    position: relative;
    top: 0;

    .header-link-label {
      color: var(--yellow-00);
      font-size: var(--smText);
    }
  }
}