.categories {
  width: 100%;
  // margin: 10px 0;

  .category-button-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    // margin: 0.64rem 0;
    place-items: center;
    border: 1px solid var(--leather-02);
    border-radius: 8px;
    background-color: var(--ocean-green-03);
    .cat-button {
      // margin: 0;
    }
  }
  
  .subcategory-button-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    // margin: 0.64rem 0;
    border: 1px solid var(--leather-02);
    border-radius: 8px;
    background-color: var(--ocean-green-03);
  }
}

.scroll-container {
  width: 100%;
  border: 1px solid var(--leather-02);
  border-radius: 8px;
  background-color: var(--ocean-green-03);
  height: 60vh;
  overflow-y: scroll;

  .catalog-item-card {
    display: inline-block;
    width: 100px;
    height: auto;
    margin: 5px;
    padding: 5px;
    background-color: var(--primary-norm);
    /* border-radius */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-size: 13px;
  
    &:hover {
      transform: scale(1.05);
    }

    .info {
      font-size: var(--smText);
      display: flex;
      flex-direction: column;
      // place-items: center;
    }

    .info-mark {
      position: absolute;
      bottom: 0;
      right: 5px;
      font-size: 15px;
      cursor: pointer;
    }
    
    .image {
      width: 4rem;
      height: 4rem;
      margin: auto;
      background-size: cover;
      background-position: center;
    }
  
    .collection-footer {
      // width: 100%;
      // display: flex;
      // flex-direction: column;
      // font-size: 10px;
  
      
    }
    .found {
      position: absolute;
      bottom: 2px;
      left: 5px;
    }
  }
}
