@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Source+Code+Pro&display=swap');

/******* RESET ********/

/* additional resets I want to apply on top of remedy */
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  line-height: 1.5;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/******* DESIGN SYSTEM *******/

/* Starting with a good base will help increase the efficiency of your time and help balance the project. */

:root {
  /* max width for site content */
  --maxWidth: 1280px;
  --centerColumn: min(80ch, calc(100vw - 1rem));
  --rowGap: 5rem;
  --gap: 1rem;

  /* colors */
  --text: var(--yellow-00);

  --primary-light-opaque: rgba( 57,186,154,0.5);
  /*--primary-norm: rgba( 16,164,127,1);	 Main Primary color 
  --primary-lighter: rgba( 116,220,194,1);
  --primary-light: rgba( 57,186,154,1);
  --primary-dark: rgba(  2,120, 91,1);
  --primary-darker: rgba(  0, 70, 53,1);

  --secondary-one-norm: rgba( 21,124,158,1);  Main Secondary color (1) 
  --secondary-one-lighter: rgba( 118,193,217,1);
  --secondary-one-light: rgba( 60,151,181,1);
  --secondary-one-dark: rgba(  7, 88,115,1);
  --secondary-one-darker: rgba(  2, 51, 68,1);

  --secondary-two-norm: rgba( 18,185, 74,1);	 Main Secondary color (2) 
  --secondary-two-lighter: rgba( 120,228,157,1);
  --secondary-two-light: rgba( 62,202,110,1);
  --secondary-two-dark: rgba(  3,135, 48,1);
  --secondary-two-darker: rgba(  0, 79, 27,1);*/

/* color scheme colors */

  --stratospheric-blue-00: rgba(3, 98, 160, 1);
  --stratospheric-blue-00-opaque: rgba(3, 98, 160, 0.75);
  --stratospheric-blue-01: rgba(35,144,214,1);
  --stratospheric-blue-02: rgba(6,136,221,1);
  --stratospheric-blue-03: rgba(2, 79,129,1);
  --stratospheric-blue-04: rgba(1, 60, 98,1);
  --petroleum-blue-00: rgba(81, 182, 205, 1);
  --petroleum-blue-01: rgba(174,229,241,1);
  --petroleum-blue-02: rgba(121,205,224,1);
  --petroleum-blue-03: rgba(49,158,183,1);
  --petroleum-blue-04: rgba(18,134,161,1);
  --tahitian-blue-00: rgba(97, 197, 220, 1);
  --tahitian-blue-01: rgba(195,238,249,1);
  --tahitian-blue-02: rgba(140,218,236,1);
  --tahitian-blue-03: rgba(62,174,200,1);
  --tahitian-blue-04: rgba(31,148,175, 1);
  --cobalt-green-00: rgba(118, 247, 191, 1);
  --cobalt-green-01: rgba(227,255,243, 1);
  --cobalt-green-02: rgba(165,252,215, 1);
  --cobalt-green-03: rgba(78,239,170, 1);
  --cobalt-green-04: rgba(41,225,146, 1);
  --emerald-green-00: rgba(95, 221, 157, 1);
  --emerald-green-01: rgba(191,248,219, 1);
  --emerald-green-02: rgba(138,236,186, 1);
  --emerald-green-03: rgba(61,203,131, 1);
  --emerald-green-04: rgba(30,183,105, 1);
  --ocean-green-00: rgba(73, 145, 103, 1);
  --ocean-green-01: rgba(165,206,181, 1);
  --ocean-green-02: rgba(115,174,139, 1);
  --ocean-green-03: rgba(42,118, 73, 1);
  --ocean-green-04: rgba(18, 90, 47, 1);
  --warm-grey-00: rgba(63, 69, 49, 1);
  --warm-grey-01: rgba(156,167,130, 1);
  --warm-grey-02: rgba(115,125, 91, 1);
  --warm-grey-03: rgba(55, 65, 31, 1);
  --warm-grey-04: rgba(43, 54, 16, 1);
  --caramel-00: rgba(255, 202, 2, 1);
  --caramel-01: rgba(255,223,101, 1);
  --caramel-02: rgba(255, 214, 58, 1);
  --caramel-03: rgba(199,157,  0, 1);
  --caramel-04: rgba(156,124,  0, 1);
  --yellow-00: rgba(255, 255, 123, 1);
  --yellow-01: rgba(255, 255, 201, 1);
  --yellow-02: rgba(255, 255, 161, 1);
  --yellow-03: rgba(221,221, 78, 1);
  --yellow-04: rgba(190,190, 41, 1);
  --leather-00: rgba(175, 109, 52, 1);
  --leather-01: rgba(253,200,154, 1);
  --leather-02: rgba(211,147, 93, 1);
  --leather-03: rgba(138, 75, 21, 1);
  --leather-04: rgba(95, 44,  0, 1);

  /* text sizes */
  --smText: 0.59rem;
  --mdText: 0.8rem;
  --lgText: 1rem;
  --xlText: 1.25rem;
  --smHeading: 1.563rem;
  --mdHeading: 1.953rem;
  --lgHeading: 2.441rem;
  --xlHeading: 3.052rem;

  /* spacing */
  --xsPadding: 0.03rem;
  --smPadding: 0.5rem;
  --mdPadding: 1rem;
  --lgPadding: 1.5rem;
  --xlPadding: 2rem;
  --smMargin: 0.5rem;
  --mdMargin: 1rem;
  --lgMargin: 1.5rem;
  --xlMargin: 2rem;

  /* button styles */
  --br: 0.25rem;
  --btnHeight: 40px;
  --btnPadding: 0.25rem var(--lgPadding);

  /* transition */
  --transition: 0.2s all ease-in;

  /* shadows */
  --smShadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25);
  --mdShadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
  --lgShadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --focusShadow: 0 0 0 3px var(--secondary-one-darker);

  /* breakpoints */
  /* @media (min-width: 768px) { ... } */
  /* @media (min-width: 1024px) { ... } */
  /* @media (min-width: 1280px) { ... } */
}

html {
  /* background-image: url('assets/backgrounds/lightshore.svg');
  background-repeat: no-repeat;
  background-attachment: scroll; */
}

body {
  color: var(--text);
  background-color: var(--stratospheric-blue-01);
  font-size: clamp(100%, 1rem + 0.25vw, 2rem);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
	font-size: var(--smText);
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--caramel-02);
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2rem, 2rem + 1vw, 3rem);
  font-family: 'Delius Swash Caps', cursive;
  text-shadow: 1.5px 2px black;
}

h2 {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 1.25rem + 0.75vw, 2.25rem);
}

input,
textarea,
button {
  line-height: 2;
  padding: 0.25rem;
  border: 1px solid var(--heading);
  border-radius: 0.25rem;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--yellow);
}

button,
input[type='submit'] {
  cursor: pointer;
  color: var(--lightBlue);
  background: var(--red);
  border: 2px solid var(--red);
  padding: var(--btnPadding);
  transition: var(--transition);
  text-transform: uppercase;
  font-size: var(--lgText);
  box-shadow: var(--smShadow);
}

button:hover,
input[type='submit']:hover {
  background: var(--darkRed);
  border: 2px solid var(--darkRed);
  box-shadow: var(--mdShadow);
}

button:focus,
input[type='submit']:focus {
  box-shadow: var(--focusShadow);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--yellow-01);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: var(--transition);
}

a:hover {
  border-bottom: 2px solid var(--red);
}

/* *** COLORS *** */

/* Give contact and pricing sections lightBlue background */
#contact,
#pricing {
  background: var(--lightBlue);
}

#companies {
  background: var(--purple);
  color: var(--lightBlue);
}

#companies h2 {
  color: var(--lightBlue);
}
